name: Release

on:
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC trusted publishing
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Install npm CLI
        run: |
          npm install -g npm@latest
          npm -v

      - name: Install dependencies
        run: npm ci

      - name: Run release
        run: npm run release
